<!-- Banner -->
<%= render partial: 'shared/banner-section' %>

<section class="movies">
  <!-- Filter -->
  <%= render partial: 'shared/filter-section' %>

  <!-- Movies -->
  <div class="movies-grid">
    <% @movies.each do |movie| %>
      <%= render partial: 'shared/movie-card', locals: { movie: movie }%>
    <% end %>
  </div>
</section>

<!-- Banner Section -->
<%= render partial: 'shared/category-section' %>