<section class="category" id="category">

  <h2 class="section-heading">Category</h2>

  <div class="category-grid">

    <div class="category-card">
      <img src="https://townsquare.media/site/442/files/2016/06/action-posters-featured.jpg?w=1200&h=0&zc=1&s=0&a=t&q=89" alt="" class="card-img">
      <div class="name">Action</div>
      <div class="total">100</div>
    </div>

    <div class="category-card">
      <img src="https://townsquare.media/site/442/files/2016/06/action-posters-featured.jpg?w=1200&h=0&zc=1&s=0&a=t&q=89" alt="" class="card-img">
      <div class="name">Comedy</div>
      <div class="total">50</div>
    </div>

    <div class="category-card">
      <img src="https://townsquare.media/site/442/files/2016/06/action-posters-featured.jpg?w=1200&h=0&zc=1&s=0&a=t&q=89" alt="" class="card-img">
      <div class="name">Thriller</div>
      <div class="total">20</div>
    </div>

    <div class="category-card">
      <img src="https://townsquare.media/site/442/files/2016/06/action-posters-featured.jpg?w=1200&h=0&zc=1&s=0&a=t&q=89" alt="" class="card-img">
      <div class="name">Horror</div>
      <div class="total">80</div>
    </div>

    <div class="category-card">
      <img src="https://townsquare.media/site/442/files/2016/06/action-posters-featured.jpg?w=1200&h=0&zc=1&s=0&a=t&q=89" alt="" class="card-img">
      <div class="name">Adventure</div>
      <div class="total">100</div>
    </div>

    <div class="category-card">
      <img src="https://townsquare.media/site/442/files/2016/06/action-posters-featured.jpg?w=1200&h=0&zc=1&s=0&a=t&q=89" alt="" class="card-img">
      <div class="name">Animated</div>
      <div class="total">50</div>
    </div>

    <div class="category-card">
      <img src="https://townsquare.media/site/442/files/2016/06/action-posters-featured.jpg?w=1200&h=0&zc=1&s=0&a=t&q=89" alt="" class="card-img">
      <div class="name">Crime</div>
      <div class="total">20</div>
    </div>

    <div class="category-card">
      <img src="https://townsquare.media/site/442/files/2016/06/action-posters-featured.jpg?w=1200&h=0&zc=1&s=0&a=t&q=89" alt="" class="card-img">
      <div class="name">SCI-FI</div>
      <div class="total">80</div>
    </div>

  </div>

</section>