<div class="movie-card">

  <%= link_to movie_path(object) do %>
    <div class="card-head">
      <img src=<%= object.poster_url %> alt="poster" class="card-img">

      <div class="card-overlay">

        <div class="bookmark">
          <i class="fa-solid fa-bookmark"></i>
        </div>

        <div class="rating">
          <i class="fa-solid fa-star"></i>
          <span>8.5</span>
        </div>

        <div class="play">
          <i class="fa-regular fa-circle-play fa-2xl"></i>
        </div>

      </div>
    </div>
  <% end %>


  <div class="card-body">
    <h3 class="card-title">
      <%= object.name_ru%>
    </h3>

    <div class="card-info">
      <span class="genre">Приключение/Фантастика</span>
      <span class="year">
        <%= object.year %>
      </span>
    </div>
  </div>

</div>