<div class="movie-card">

  <div class="card-head">
    <img src="https://cdn.shopify.com/s/files/1/1416/8662/products/interstellar_2014_french_advance_original_film_art_1200x.jpg?v=1611897304" alt="" class="card-img">

    <div class="card-overlay">

      <div class="bookmark">
        <i class="fa-solid fa-bookmark"></i>
      </div>

      <div class="rating">
        <i class="fa-solid fa-star"></i>
        <span>8.5</span>
      </div>

      <div class="play">
        <i class="fa-regular fa-circle-play fa-2xl"></i>
      </div>

    </div>
  </div>

  <div class="card-body">
    <h3 class="card-title">Interstellar</h3>

    <div class="card-info">
      <span class="genre">Action/Fantasy</span>
      <span class="year">2014</span>
    </div>
  </div>

</div>