<section class="banner">
  <div class="banner-card">

    <img src="https://assets.fontsinuse.com/static/use-media-items/27/26619/full-1500x690/567022b0/interstellar_ver7_xlg.jpeg" class="banner-img" alt="">

    <div class="card-content">
      <div class="card-info">

        <div class="genre">
          <i class="fa-solid fa-film"></i>
          <span>Приключение/Фантистика</span>
        </div>

        <div class="year">
          <i class="fa-solid fa-calendar"></i>
          <span>2019</span>
        </div>

        <div class="duration">
          <i class="fa-solid fa-clock"></i>
          <span>2h 11м</span>
        </div>

        <div class="quality">4K</div>

      </div>

      <h2 class="card-title">Interstellar</h2>
    </div>

  </div>
</section>