<div class="filter-bar">

  <div class="filter-dropdowns">

    <select name="genre" class="genre">
      <option value="all genres">Все жанры</option>
      <option value="action">Боевики</option>
      <option value="adventure">Приключения</option>
      <option value="animal">Животные</option>
      <option value="animation">Мультфильмы</option>
      <option value="biography">Биография</option>
    </select>

    <select name="year" class="year">
      <option value="all years">Все года</option>
      <option value="2022">2022</option>
      <option value="2020-2021">2020-2021</option>
      <option value="2010-2019">2010-2019</option>
      <option value="2000-2009">2000-2009</option>
      <option value="1980-1999">1980-1999</option>
    </select>

  </div>

  <div class="filter-radios">

    <input type="radio" name="grade" id="featured" checked>
    <label for="featured">Featured</label>

    <input type="radio" name="grade" id="popular">
    <label for="popular">Popular</label>

    <input type="radio" name="grade" id="newest">
    <label for="newest">Newest</label>

    <div class="checked-radio-bg"></div>

  </div>

</div>