<div class="new-card">
  <div class="card-metadata">
    <img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1539913/df75f02e13e5986391b23fd9e1a880fa/960x540" alt="new">
    <a href="#"><%= object.title %></a>
  </div>
  <hr>
</div>