.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--rich-black-fogra-29);
    min-width: 140px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a{
    padding: 10px 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}