
/*-------------------------------------*\
  # MOVIE METADATA
\*-------------------------------------*/
.metadata{
    margin: 20px 0;
}

.part-metadata{
    padding-bottom: 5px;
    display: flex;
    gap:10px;
}
.time{
    display: flex;
    gap: 5px;
}

.metadata i{
    color: var(--azure);
}

.two-between{
    display: flex;
    justify-content: space-between;
}

/*-------------------------------------*\
  # MOVIE INFORMATION
\*-------------------------------------*/

.movie-information{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "description description "
    "marks actors";
    gap: 20px;
}

.description{
    grid-area: description;
}
.marks{
    grid-area: marks;
}
.actors{
    grid-area: actors;
}

.marks{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
}

.rating-item{
    display: inline-block;
}

.description{
    overflow: hidden;
    max-height: 100px;
}



/*-------------------------------------*\
  # MOVIE IFRAME
\*-------------------------------------*/

.iframe-container{
    margin-top: 20px;
    margin-bottom: 20px;

    height: 550px;
}
