
/*-------------------------------------*\
  # MOVIE METADATA
\*-------------------------------------*/
.metadata{
    margin: 20px 0;
}

.part-metadata{
    padding-bottom: 5px;
    display: flex;
    gap:10px;
}
.time{
    display: flex;
    gap: 5px;
}

.metadata i{
    color: var(--azure);
}

.two-between{
    display: flex;
    justify-content: space-between;
}

/*-------------------------------------*\
  # MOVIE INFORMATION
\*-------------------------------------*/

.movie-information{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "description description "
    "marks actors";
    gap: 20px;
}

.description{
    grid-area: description;
}
.marks{
    grid-area: marks;
}
.actors{
    grid-area: actors;
}

.marks{
    display: flex;
    flex-direction: column;
}


.movie-mark{
    display: flex;
    flex-direction: column;
    gap: 0px;
    position: relative;
    width: 80px;
    height: 80px;
    top:10px;left: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    background-color: var(--rich-black-fogra-29);
}
.movie-mark p{
    font-size: 12px;
}
.movie-mark::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: var(--azure);
    z-index: -1;
}

.rating-item{
    display: inline-block;
}

.description{
    overflow: hidden;
    max-height: 100px;
}



/*-------------------------------------*\
  # MOVIE IFRAME
\*-------------------------------------*/

.iframe-container{
    margin-top: 20px;
    margin-bottom: 20px;

    height: 550px;
}

/*-------------------------------------*\
  # MOVIE COMMENT FORM
\*-------------------------------------*/
.field{
    color: var(--white);
}

.field button{
    background-color: var(--white) !important;
}
