<section class="news">

  <!-- Adds -->
  <div class="new-grid">
    <% @news.each do |new| %>
      <%= render partial: 'movies/partial/new-card', locals: { object: new } %>
    <% end %>
  </div>

</section>