<section class="news">

  <!-- Adds -->
  <div class="new-grid">
    <% unless object.blank? %>
      <% object.each do |new| %>
        <%= render partial: 'movies/partial/new-card', locals: { object: new } %>
      <% end %>
    <% else %>
      <h3>Пусто</h3>
    <% end %>
  </div>

</section>