<section class="movies">

  <!-- Movies -->
  <div class="movies-grid">
    <% object.each do |movie| %>
      <%= render partial: 'movies/partial/movie-card', locals: { object: movie }%>
    <% end %>
  </div>

</section>

