<section class="movies">

  <!-- Movies -->
  <div class="movies-grid">
    <% unless object.nil? %>
      <% object.each do |movie|%>
        <%= render partial: 'movies/partial/movie-card', locals: { object: movie }%>
      <% end %>
    <% else %>
      <h3>Пусто</h3>
    <% end %>
  </div>

</section>

