/*-------------------------------------*\
  # PAGINATION
\*-------------------------------------*/
.pagy-nav-wrapper{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.pagy-nav{
    display: flex;
    align-items: center;
}

.next, .prev{
    padding: 5px;
    border-radius: 10px;
    background-color: var(--azure);
}

.active{
    color: var(--azure);
}

.page{
    padding: 5px;
}