/*-------------------------------------*\
  * PROFILE
\*-------------------------------------*/
.profile{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-image{
    width: 250px;
    height: 250px;
}
.user-name{
    padding: 10px 0;
}



/*-------------------------------------*\
  * PROFILE MEDIA
\*-------------------------------------*/
@media screen and (max-width: 1200px) {
    .profile{
        margin-top: 120px;
    }
}

@media screen and (max-width: 768px) {


}